@import "./variables";

.safe-top {
  padding-top: env(safe-area-inset-top);
}

.safe-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}

body {
  font-family: "Nunito", sans-serif;

}

.no-scroll {
  overflow: hidden;
}

.no-overscroll {
  overscroll-behavior: none;
}

::-webkit-input-placeholder {
  font-size: 14px;
  font-style: italic;
}
:-moz-placeholder {
  font-size: 14px;
  font-style: italic;
  opacity: 1;
}
::-moz-placeholder {
  font-size: 14px;
  font-style: italic;
}
:-ms-input-placeholder {
  font-size: 14px;
  font-style: italic;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0 !important;
  height: 0 !important;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Taille uniforme pour tous les champs date-like */
input[type="datetime-local"],
input[type="month"] {
  box-sizing: border-box;
  height: 44px; /* cible principale */
  padding: 0 12px;
  min-width: 216px;
  font: inherit;
}

/* WebKit (Chrome/Safari) : aligne la valeur à l'intérieur sans rogner */
input[type="time"]::-webkit-datetime-edit,
input[type="datetime-local"]::-webkit-datetime-edit,
input[type="month"]::-webkit-datetime-edit {
  padding: 0;
  line-height: 44px;
}

/* Garde l’icône calendrier centrée */
input[type="date"]::-webkit-calendar-picker-indicator {
  margin: 0;
}

input[type="date"] {
  padding: 0px 12px;
  height: 44px;
  width: -webkit-fill-available;
}

@supports (-webkit-touch-callout: none) {
  /* iOS only */
  @media (min-width: 1024px) {
    /* ✅ Comportement par défaut (ton hack) */
    html:not(.gm-disable-ios-scroll-hack) {
      overflow: hidden;
      height: 100%;
    }
    html:not(.gm-disable-ios-scroll-hack) body {
      overflow: auto;
      height: 100%;
    }

    /* ✅ Sur la page planning (classe ajoutée dans le composant),
       on revient à un scroll "normal" que react-big-calendar comprend bien */
    html.gm-disable-ios-scroll-hack,
    html.gm-disable-ios-scroll-hack body {
      overflow: auto;
      height: auto;
    }
  }
}

.gm-splash-host {
  position: relative;
  min-height: 100vh;
 
}

.gm-splash-layer {
  position: absolute;
  inset: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;


}

