@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .prose p {
    margin-top: 0;
    line-height: 24px;
    margin-bottom: 0;
  }
  .prose h1 {
    font-size: 22px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .prose h2 {
    font-size: 19px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .prose h3 {
    font-size: 17px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .prose ul {
    margin: 0;
    padding: 0 2rem;
  }

  .prose ul li {
    margin: 0;
  }

  .prose :where(ul > li)::marker {
    color: black;
  }

  .prose :where(ol > li)::marker {
    color: black;
  }
}



html {
  scroll-behavior: smooth;
}


/* Animations */
@keyframes feature-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-feature-in {
  animation: feature-in 0.5s forwards ease-out;
}


.animate-stagger > * {
  opacity: 0;
  animation: fade-in 0.5s ease-out forwards;
}

.animate-stagger > *:nth-child(1) { animation-delay: 0.1s; }
.animate-stagger > *:nth-child(2) { animation-delay: 0.2s; }
.animate-stagger > *:nth-child(3) { animation-delay: 0.3s; }
.animate-stagger > *:nth-child(4) { animation-delay: 0.4s; }
.animate-stagger > *:nth-child(5) { animation-delay: 0.5s; }
.animate-stagger > *:nth-child(6) { animation-delay: 0.6s; }

@keyframes fade-in {
  0% { 
    opacity: 0;
    transform: translateY(20px);
  }
  100% { 
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.hover-scale {
  transition: transform 0.3s ease;
}

.hover-scale:hover {
  transform: scale(1.05);
}


